flake8==4.0.1  # If you ever change the version, change it also in GitHub Action YAML.
flake8-json==21.7.0
pylint==2.14.5  # If you ever change the version, change it also in GitHub Action YAML.
dataclasses-json==0.5.7
tomli==2.0.1  # In Python 3.11+ it's included as a strandard library tomllib
