# Compatibility tests: https://github.com/GiraffeReversed/edulint/actions/workflows/test-compatibility.yaml

flake8>=3.8.4,<7.2  # 7.1.0 is tested to be compatible
flake8-json~=24.4.0 # 24.4.0 is tested to be compatible
pylint>=2.15.10,<3  # 3 is tested to be incompatible
dataclasses-json~=0.6.7  # 0.6.7 is tested to be compatible
tomli~=2.0.1  # 2.0.1 is tested to be compatible. In Python 3.11+ it's included as a standard library tomllib.
requests>=2.31.0 # versions lower than 2.31.0 had CVE-2023-32681
platformdirs
loguru
