[pylint]
load-plugins = [
    "edulint.linting.checkers.basic_checker",
    "edulint.linting.checkers.short_problems",
    "edulint.linting.checkers.improper_loop",
    "edulint.linting.checkers.simplifiable_if",
    "edulint.linting.checkers.python_ta_checkers",
    "edulint.linting.checkers.duplication_checker",
]
disable = "all"

[flake8]
ignore = "F,E,W,C"

