.problemMarkers {
    width: 1.2em;
}

.content {
    height: 85vh;
}

.problemMarker {
    color: var(--bs-danger);
    text-decoration: none;
    cursor: pointer;
    padding-left: 2px;
}

#code-block {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.CodeMirror {
    font-size: 13px;
    flex-grow: 1;
    border: 1px solid #eee;
}

@keyframes fade {
    from {background-color: rgb(200, 200, 200);}
    to {background-color: rgba(200, 200, 200, 0);}
}

.highlighted-line {
    background-color: rgb(200, 200, 200);
    animation-name: fade;
    animation-duration: 1700ms;
}

.highlighted-problem-group {
    background-color: rgb(200, 200, 200);
    animation-name: fade;
    animation-duration: 1700ms;
}

#problems-block {
    overflow-y: auto;
}

.problemGroup .btn {
    border: none;
}

.button-group-vertical .problem:last-child {
    border-bottom: none!important;
}

body {
    background-image: url("cutcube.png");
}

#analysis-block {
    background-color: white;
}

.grid-main {
    display: grid;
    grid-template-columns: 4fr 15px 3fr;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
}

#gutter {
    grid-column: 2;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    cursor: col-resize;
    height: 100%;
}
