.breakpoints {width: .8em;}

.content {
    height: 89vh;
}

.problemMarker {
    color: #822;
    text-decoration: none;
}

#code-block {
    display: flex;
    flex-direction: column;
}

.CodeMirror {
    font-size: 13px;
    max-width: min(60vw, 100ch);
    flex-grow: 1;
    border: 1px solid #eee;
}

@keyframes fade {
    from {background-color: rgb(200, 200, 200);}
    to {background-color: rgba(200, 200, 200, 0);}
}

.highlighted-line {
    background-color: rgb(200, 200, 200);
    animation-name: fade;
    animation-duration: 1700ms;
}

#problems-block {
    overflow-y: auto;
}

.problemBtn > .btn {
    border: none;
}

body {
    background-image: url("cutcube.png");
}

#analysis-block {
    background-color: white;
}
