:root {
    --bs-body-rgb-alt: 50, 50, 50;
}

.problemMarkers {
    width: 1.2em;
}

body {
    background-color: #d1d1d1;
    background-image: url("black-thread.png");
    background-size: max(4%, 49px) auto;
}

html.dark body {
    background-color: #090909;
}

.navbar {
    background-color: #bbbbbb;
}

html.dark .navbar {
    background-color: #3b3b3b;
}

.content {
    height: calc(100vh - 69px);
    background-color: #ebebebd1;
    overflow: hidden;
}

html.dark .content {
    background-color: #151515e6;
}

.problemGroup {
    background-color: white;
}

html.dark .problemGroup {
    background-color: #1f1f1f;
}

.problemMarker {
    cursor: pointer;
    padding-left: 2px;
}

html.dark .problemMarker.text-danger {
    color: hsl(18, 100%, 42%)!important;
}

html.dark .problemMarker.text-success {
    color: #65b042!important;
}

.CodeMirror {
    font-size: 0.815rem!important;
    flex-grow: 1;
    border-radius: 0.3rem;
}

html.dark .CodeMirror {
    background-color: #1f1f1f;
}

html.dark .CodeMirror-gutters {
    background-color: #1f1f1f;
}

html.dark .CodeMirror-scrollbar-filler {
    background-color: #1f1f1f;
}

#analysis-block {
    overflow-y: hidden;
}

#problems {
    overflow-y: auto;
}

.problemGroup .btn {
    border: none!important;
}

.problemGroup .problem:not(:last-child) .problemSolvedBtn {
    border-bottom-right-radius: 0px;
}

.problemGroup .problem:not(:first-child) .problemSolvedBtn {
    border-top-right-radius: 0px;
}

.problemGotoBtn:hover:active {
    box-shadow: none!important;
}

html.dark .problemSolvedBtn.btn-outline-success {
    color: #65b042;
}

html.dark .problemSolvedBtn.btn-outline-success:hover {
    background-color: #489325;
    color: #111;
}

html.dark .problemSolvedBtn:focus,
html.dark .problemSolvedBtn:hover:active {
    box-shadow: 0 0 0 0.25rem rgba(72, 147, 37, 0.5);
}

html.dark .problemSolvedBtn.btn-success {
    background-color: #489325;
    color: #111;
}

html.dark .problemSolvedBtn.btn-success:hover {
    background-color: #3c7a1f;
}

html.dark .problemGotoBtn.btn-outline-warning {
    color: #D8A460;
}

html.dark .problemGotoBtn.btn-outline-warning:hover {
    background-color: #D8A460;
    color: #111;
}

html.dark .problemGotoBtn:focus {
    box-shadow: 0 0 0 0.25rem rgba(218, 208, 133, 0.5);
}

.problemGroup.active {
    outline: 0.17rem solid rgb(var(--bs-secondary-rgb), 0.5);
}

.d-flex .problem:last-child {
    border-bottom: none!important;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 1em;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

html.dark .gutter.gutter-horizontal {
    filter: brightness(0.28);
}

.modal .bi::before {
    width: 20px;
}

.card-container {
    overflow-y: auto;
}

.card-container .card:last-child {
    margin-bottom: 0px !important;
}
