{% extends 'base.html' %}

{% block head %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/addon/display/rulers.min.js"
  integrity="sha512-sF+AF3zpVOHMt4f4mN1dVS2/Hon6pr/7h1gc7rDHtga0SeD9z0UiL1J0k3umDFEz5qkY06ARcNzi45NkJ9GsYw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.2/split.min.js"
  integrity="sha512-to2k78YjoNUq8+hnJS8AwFg/nrLRFLdYYalb18SlcsFRXavCOTfBF3lNyplKkLJeB8YjKVTb1FPHGSy9sXfSdg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/code-mirror-themes@1.0.0/themes/coda.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/code-mirror-themes@1.0.0/themes/sunburst.min.css">

<script src="/static/handle_problems.js"></script>

{% endblock %}

{% block content %}

<div class="d-flex flex-row flex-fill" id="analysis-block">
  <div id="code-block" class="d-flex flex-column m-3 me-2 mt-1">
    <div class="d-flex flex-row justify-content-between">
      <h5>Code</h5>
      <small id="keybind" hidden><kbd class="bg-secondary"><kbd class="bg-secondary">ctrl</kbd> + <kbd
            class="bg-secondary">D</kbd></kbd> to mark current line as solved</small>
    </div>

    <textarea name="code" id="code" placeholder="Enter your code here">{{textarea}}</textarea>

    <div class="input-group pt-3">
      <input type="file" class="form-control" id="inputFile" aria-describedby="analysisSubmit" aria-label="Upload"
        accept=".py">
      <button class="btn btn-secondary" type="button" id="downloadFile">
        <a id="downloadFileAux"></a>
        Download
      </button>
      <button class="btn btn-primary" type="button" id="analysisSubmit">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        Lint
      </button>
    </div>
  </div>
  <div id="problems-block" class="d-flex flex-column m-3 ms-0 mt-1">
    <h5 class="ms-2">Problems</h5>
    <div id="problems" class="pt-1 pe-1 ps-2">
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3 pb-3 toast-container" style="z-index: 11">

    <div id="toastNoSave" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <span>
            <kbd class="bg-secondary"><kbd class="bg-secondary">ctrl</kbd> + <kbd class="bg-secondary">S</kbd></kbd>
            does nothing on purpose. <a class="link-secondary" href="/faq#ctrl-s-captured">Here's why.</a>
          </span>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toastLineDeleted" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Line with this problem has been removed.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toastIncorrectFiletype" class="toast align-items-center border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        Select a <span class="font-monospace">.py</span> file.
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toastUnnecessaryDownload" class="toast align-items-center" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Unnecessary download of empty file.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toastDangerousDownload" class="toast align-items-center border-0" role="alert" aria-live="assertive"
      aria-atomic="true" data-bs-delay="7500">
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert" data-autohide="false">
        Is your browser warning you about a harmful file? The file is fine, but <a class="link-secondary"
          href="/faq#download-warning">here is what's happening.</a>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

  </div>
</div>

{% endblock %}