{% extends 'base.html' %}

{% block head %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/addon/display/rulers.min.js"
  integrity="sha512-sF+AF3zpVOHMt4f4mN1dVS2/Hon6pr/7h1gc7rDHtga0SeD9z0UiL1J0k3umDFEz5qkY06ARcNzi45NkJ9GsYw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/static/handle_problems.js"></script>

{% endblock %}

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="analysis-block" class="container-lg h-100 p-3">
  <div class="row h-100 g-3">
    <div id="code-block" class="col h-100">
        <textarea name="code" id="code" placeholder="Enter your code here">{{textarea}}</textarea>

        <div class="input-group pt-3">
          <input type="file" class="form-control" id="inputFile" aria-describedby="analysisSubmit" aria-label="Upload">
          <button class="btn btn-primary" type="button" id="analysisSubmit">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Lint
          </button>
        </div>
    </div>

    <div id="problems-block" class="col h-100">
    </div>
  </div>
</div>

{% endblock %}