{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div id="faq" class="m-3 mt-1 card-container">

  <div class="card mb-3">
    <div class="card-body">
      <section id="ctrl-s-captured">
        <h5 class="card-title">Why does <kbd class="bg-secondary"><kbd class="bg-secondary">ctrl</kbd> + <kbd
              class="bg-secondary">S</kbd></kbd> do nothing in the editor?</h5>
        <p class="card-text">A programmer may fall into habit of pressing <kbd class="bg-secondary"><kbd
              class="bg-secondary">ctrl</kbd> + <kbd class="bg-secondary">S</kbd></kbd> quite often to avoid the mistake
          of running unsaved code. Nevertheless, had the page opened the dialog to save the page every time a programmer
          pressed the shortcut out of a habit, it would be tedious to edit the code directly in the browser.</p>
      </section>
    </div>
  </div>
</div>

{% endblock %}