{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div id="faq" class="m-3 mt-1 card-container">
  <div class="card mb-3">
    <div class="card-body">
      <section id="download-warning">
        <h5 class="card-title">Why does the browser warn me when I download my code?</h5>
        <p class="card-text">The file you download always contains your own code, exactly as you see in the
          in-browser editor (check the <code>downloadFile</code> function in the page's source code, if you
          dare). The file should therefore be just as harmful as you yourself make it.</p>
        <p class="card-text">If you keep the file, you can check its contents by opening it in a text editor – this
          should pose no security risk, even if the file contains potentially harmful code.</p>
        <p class="card-text">The browser warns you agains keeping the downloaded file, because it is an executable
          Python file. As such, <i>running</i> it could harm your computer. Nevertheless, simply saving the code is
          safe, but do not forget that double-tapping the file runs it, rather than open it in a text editor.</p>
      </section>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <section id="ctrl-s-captured">
        <h5 class="card-title">Why does <kbd class="bg-secondary"><kbd class="bg-secondary">ctrl</kbd> + <kbd
              class="bg-secondary">S</kbd></kbd> do nothing in the editor?</h5>
        <p class="card-text">A programmer may fall into habit of pressing <kbd class="bg-secondary"><kbd
              class="bg-secondary">ctrl</kbd> + <kbd class="bg-secondary">S</kbd></kbd> quite often to avoid the mistake
          of running unsaved code. Nevertheless, had the page opened the dialog to save the page every time a programmer
          pressed the shortcut out of a habit, it would be tedious to edit the code directly in the browser.</p>
      </section>
    </div>
  </div>
</div>

{% endblock %}