name: Create Github Release

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    
    - name: Github Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        # body: ""
        # body_path: CHANGELOG.txt
