name: Trigger version compatiblity tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  get-versions:
    runs-on: ubuntu-latest  
    outputs:
      pylint: ${{ steps.pylint.outputs.pylint }}
      flake8: ${{ steps.flake8.outputs.flake8 }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: 'pip'
    
      - name: Install dependencies
        run: python -m pip install requests packaging edulint # TODO: Remove dependency on Version parsing from edulint?
 
      - id: pylint
        name: Get Pylint versions
        run: python edulint/versions/pypi_helper.py pylint --github --n-versions 6 >> "$GITHUB_OUTPUT"

      - id: flake8
        name: Get Flake8 versions
        run: python edulint/versions/pypi_helper.py flake8 --github --n-versions 6 >> "$GITHUB_OUTPUT"

  test-python-versions:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    needs: get-versions
    with:
      python_matrix: '["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]'
  
  test-pylint-versions:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    needs: get-versions
    with:
      pylint_matrix: ${{needs.get-versions.outputs.pylint}}

  test-flake8-versions:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    needs: get-versions
    with:
      flake8_matrix: ${{needs.get-versions.outputs.flake8}}

  test-os-versions:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    needs: get-versions
    with:
      os_matrix: '["ubuntu-latest", "windows-latest", "macos-latest"]'


# either set permissive default permissions in repositories Actions settings or set them explicitly here
permissions:
  checks: write
  issues: read
  pull-requests: write
  contents: read
