name: Tests compatibility for several versions

# Note that testing non-default pylint or flake8 version is only supported on Linux.

on:
  workflow_call:
    inputs:
      python_matrix:
        type: string
        default: '["3.11"]'
      pylint_matrix:
        type: string
        default: '["default"]'
      flake8_matrix:
        type: string
        default: '["default"]'
      os_matrix:
        type: string
        default: '["ubuntu-latest"]'
    secrets:
      PAT_PRIVATE_TESTS:
        required: true

  workflow_dispatch:
    inputs:
      python_matrix:
        type: string
        default: '["3.11"]'
      pylint_matrix:
        type: string
        default: '["default"]'
      flake8_matrix:
        type: string
        default: '["default"]'
      os_matrix:
        type: string
        default: '["ubuntu-latest"]'

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/runner/issues/1660#issuecomment-1359707506
        python: ${{ fromJSON(inputs.python_matrix) }}
        pylint: ${{ fromJSON(inputs.pylint_matrix) }}
        flake8: ${{ fromJSON(inputs.flake8_matrix) }}
        os:     ${{ fromJSON(inputs.os_matrix) }}

    # https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: 'true'
          token: '${{ secrets.PAT_PRIVATE_TESTS }}'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'

      - name: Mock pylint version in requirements.txt (which is sourced for setup.cfg)
        run: |
          sed -i "s/pylint *[~<>=][^\"]*/pylint==${{ matrix.pylint }}/" requirements.txt
        if: ${{ matrix.pylint != 'default' }}

      - name: Mock flake8 version in requirements.txt (which is sourced for setup.cfg)
        run: |
          sed -i "s/flake8 *[~<>=][^\"]*/flake8==${{ matrix.flake8 }}/" requirements.txt
        if: ${{ matrix.flake8 != 'default' }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.dev.txt -r tests/requirements.txt -r requirements.txt

      - name: Install Edulint
        run: pip install .

      - name: Log versions of python packages
        run: pip freeze

      - name: Test with pytest
        run: pytest --junit-xml pytest.xml tests/

      - name: Timestamp to have unique part of artefact ID
        id: timestamp_id
        run: echo "timestamp_id=$(date +%s.%N)" >> $GITHUB_OUTPUT

      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: pytest-${{ matrix.python }}-${{ matrix.pylint }}-${{ matrix.flake8 }}-${{ matrix.os }}-${{steps.timestamp_id.outputs.timestamp_id}}.xml
          path: pytest.xml

  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: pytest
    runs-on: ubuntu-latest
    if: success() || failure()
    permissions:
      checks: write
      pull-requests: write  # only needed unless run with comment_mode: off
      contents: read  # only needed for private repository
      issues: read  # only needed for private repository

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "artifacts/**/pytest.xml"
